@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.info {
    font-family: 'Poppins', sans-serif;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider {
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #7286D3;
}

.slider header {
    text-align: center;
    font-size: 40px;
    color: aliceblue;
    background-color: cadetblue;
    line-height: 100px;
}

hr {
    color: aliceblue;
}

.slider ul a {
    display: block;
    font-size: 20px;
    color: azure;
    width: 100%;
    height: 100%;
    line-height: 70px;
    padding-left: 40px;
    box-sizing: border-box;
    border: 1px solid orange;
    transform: .4s;



}

.slider li:hover a {
    background-color: cadetblue;
    padding-left: 60px;
}

#check {
    display: none;
}

#check:checked~.slider {
    left: 0px;

}

label #btn {

    position: absolute;
    cursor: pointer;
    left: 20px;
    top: 25px;




}

label #back {

    position: absolute;
    cursor: pointer;
    z-index: 1111;
    left: -300px;
    top: 21px;
    padding: 4px 9px;
    background-color: aqua;
    border-radius: 30px;



}

.info {
    display: none;

}

#check:checked~label #back {
    left: 3px;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("https://i.ibb.co/N39Hvgy/asde2.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

/* For devices 400px and larger: */
@media only screen and (min-device-width: 600px) {
    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-image: url("https://i.ibb.co/9c9zwj2/qwer.jpg");
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }

    .info {
        display: inline;
        left: 30%;
        width: 600px;
        height: 80px;
        position: absolute;
        text-align: center;
        background-color: powderblue;
        color: red;
        border: 4px solid;

    }

}